<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Sample App</title>
  </head>
  <body>
    <h1>Sample App</h1>

    <p>
      This is the home page for my sample app! Made with the help of:
      <a href="http://www.railstutorial.org/">Ruby on Rails tutorial </a>
      sample app!
    </p>
  </body>
</html>
